@font-face {
  font-family: "TT-Travels-Bold";
  src: url("/assets/fonts/TTTravels/TTTravels-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "TT-Travels-Medium";
  src: url("/assets/fonts/TTTravels/TTTravels-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "TT-Travels-Regular";
  src: url("/assets/fonts/TTTravels/TTTravels-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "TT-Travels-DemiBold";
  src: url("/assets/fonts/TTTravels/TTTravels-DemiBold.ttf");
  font-display: swap;
}

.font-travels-bold {
  font-family: "TT-Travels-Bold", sans-serif;
}

.font-travels-medium {
  font-family: "TT-Travels-Medium", sans-serif;
}

.font-travels-demi-bold {
  font-family: "TT-Travels-DemiBold", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  font-weight: 500;
}

.mt-38{
  margin-top: 38px;
}

.mt-64{
  margin-top: 4rem;

  @media (max-width: 576px){
    margin-top: 1.5rem;
  }
}

.mt-108{
  margin-top: 108px;
  @media (max-width: 576px){
    margin-top: 60px;
  }
}

.w-100{
  width: 100%;
}

.fs-18{
  font-size: 18px;
}

.fs-24{
  font-size: 24px;

  @media (max-width: 576px){
    font-size: 18px;
  }
}

.lh-28{
  line-height: 28px;
  @media (max-width: 576px){
    line-height: 22px;
  }
}

.white-nowrap{
  white-space: nowrap;
}
.container-home{
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  @media (max-width: 1024px){
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
*{
  box-sizing: border-box;
}


html {
  font-size: 16px;
  font-family: "TT-Travels-Regular", sans-serif;

  body {
    #root{
      overflow-x: hidden;
    }
    margin: 0;
    width: 100%;
    overflow-x: hidden;


    .home-navbar {
      padding-top: 116px;

      .send-cv {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        border: 1px dashed #CCCBCB;
        border-radius: 16px;
        padding: 10px 8px;
        color: #434343;
        width: 229px;
        max-width: 100%;
        transition: all 0.5s linear;
        &:hover{
          border-color: #00b533;
          color: #00b533;
        }
      }

      @media (max-width: 576px){
        display: none!important;
      }
    }

    .navbar-mobile{
      display: none;
      text-align: center;

      @media (max-width: 576px) {
        display: block;
      }
    }

    .home-header {
      margin-top: 110px;

      h1 {
        font-size: 88px;
        line-height: 80px;
        background: linear-gradient(90deg, #F30000 -3.73%, #4200FF 95.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @media (max-width: 576px){
        margin-top: 2rem;
        h1{
          font-size: 44px;
          line-height: 42px;
        }
      }
    }

    .home-main {
      margin-top: 2rem;

      .hr-box, .client-box {
        p {
          font-size: 18px;
          line-height: 28px;
          color: #8E8E8E;

          @media (max-width: 576px){
            font-size: 14px;
          }
        }

        &.w-auto{
          width: auto;
        }
      }

      .hr-box {
        width: 448px;
        max-width: 100%;
        position: relative;

        .hr-box-content {
          border: 1px solid #F1F1F1;
          border-radius: 32px 32px 32px 0px;
          width: 100%;
          padding: 24px;

          h4 {
            color: #414141;
          }
        }
        .hand-down{
          position: absolute;
          right: -222px;
          bottom: 0;
          @media (max-width: 670px) {
            display: none;
          }
        }


      }

      .client-box{
        width: 464px;
        max-width: 100%;

        .client-box-content{
          width: 100%;
          border-radius: 2rem 2rem 0 2rem;
          background-color: #F30000;
          padding: 2rem;
          color: #fff;

        }
        p{
          text-align: right;
          margin-right: 2rem;
        }

        &.min-text{
          display: flex;
          width: auto;
          justify-content: flex-end;
          .client-box-content{
            width: auto;
          }

        }
      }

      .features-block{
        width: 172px!important;
        margin-right: 88px;

        h3{
          text-align: center;
        }
      }

      .leave-group{
        text-align: center;
        h3{
          font-size: 22px;
          line-height: 28px;
          color: #272727;
          background: #F8F8F8;
          border-radius: 64px;

          span{
            color: #9A9A9A;
          }
        }
      }

      .office{
        img{
          margin-top: 2rem;
        }
        .d-flex{
          flex-wrap: nowrap;
          overflow-x: auto;
        }
      }

      .banner{
        &:not(.banner-second){
          margin-bottom: 200px;
        }
        width: 110%;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.0196802), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0282725), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.035), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0503198), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.07);
        transform: rotate(-9.55deg) translateX(-5%);
        background-color: #ffffff;
        overflow: hidden;
        padding: 2rem;
        h1{
          margin-right: 52px;
          margin-left: 52px;
        }
        h1{
          font-size: 4rem;
        }
        .d-flex{
          transform: translateX(-200px);
          animation-name: text-anim;
          transition: all 0.5s linear;
          animation-duration: 5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }

        &.banner-second{
          margin-top: 100px;
          transform: rotate(15deg) translateX(-5%)  translateZ(10px);

          .d-flex{
            transform: translateX(-500px);

            animation-name: text-anim-reverse;
          }
        }
      }


      .send-form{
        width: 896px;
        max-width: 100%;
        margin: 104px auto 277px;

        input, label{
          border: 1px solid #D6D6D6;
          border-radius: 16px;
          display: block;
          outline: 0;
          transition: all 0.5s linear;
          margin: 32px 0;
          padding: 2rem;
          width: 100%;

          &:focus{
            border-color: #00b533;
          }
        }

        label{
          border: 1px dashed #D6D6D6;
          text-align: center;
          cursor: pointer;
          color: #000;
          &:hover{
            border-color: #00b533;
          }
        }

        .form-dropdown{
          position: relative;
          .form-dropdown-menu{
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            top: 100%;
            background-color: #F30000;
            color: #fff;
            border-radius: 10px;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.0196802), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0282725), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.035), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0503198), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.07);
            z-index: 999;
            .form-dropdown-menu-item{
              border-radius: 10px;
              padding: 16px 26px;
              font-size: 24px;
              cursor: pointer;
              &:hover{
                opacity: 0.7;
                background-color: #970000;
              }
            }
          }
        }

        .form-select{
          width: 608px;
          max-width: 100%;
          margin: 0 auto;

          .pc-item{
            text-align: center;

            width: 240px;
            max-width: 100%;
            border-radius: 10px;

            cursor: pointer;
            border: 1px solid transparent;


            &:hover{
              border-color: #efefef;
            }

            &.selected{
              border-color: #F30000;
            }
          }
        }

        button{
          background-color: #F30000;
          display: block;
          width: 100%;
          padding: 32px;
          text-align: center;
          color: #ffffff;
          margin: 88px 0;
          transition: all 0.5s linear;
          border-radius: 1rem;
          border: none;
          cursor: pointer;
          &:hover{
            opacity: 0.7;
          }
        }
      }

      @media (max-width: 576px){
        margin-top: 1.5rem;

        .mt-3{
          margin-top: 0.5rem!important;
        }

        .slick-slider.mt-38{
          margin-top: 0;
        }
        .slick-slider.mt-sm-4{
          margin-top: 38px;
        }
        .features-block{
          width: 124px!important;
          h3:not(.tarif){
            margin-top: 0!important;
          }
        }
        .hr-box.mt-38{
          margin-top: 1.5rem;
        }
        .leave-group{
          margin-top: 40px;
          h3{
            font-size: 16px;
            line-height: 18px;
          }
        }
        .client-box{
          img{
            max-width: 100%;
          }
          &.mt-mobile{
            margin-top: 46px;
          }
          .client-box-content{
            padding: 1.5rem;

          }
        }

        .banner{
          padding: 1rem;
          width: 130%;

          &:not(.banner-second){
            margin-bottom: 120px;

            transform: rotate(
                            -9.55deg
            ) translateX(-54px) translateY(22px);
          }
          h1{
            font-size: 2rem;
          }
          img{
            width: 4rem;
            height: 4rem;
          }
          &.banner-second{
            margin-top: 50px;
            transform: rotate(
                            15deg
            ) translateX(-40px) translateZ(10px);
          }
        }
        .home-header{
          margin-top: 1.5rem;
          &.mt-mobile{
            margin-top: 48px;
          }
        }
        .office{
          img{
            width: 188px;
            height: 132px;
            margin-top: 1.5rem;
            margin-right: 6px;
          }
        }
        .send-form{
          margin-top: 24px;
          input,label{
            padding: 1rem;
            margin: 8px 0;

          }
          .form-select{
            display: none!important;
          }
          button{
            margin: 1.5rem 0;
            padding: 1rem;
          }
        }
      }
    }

  }
}
//
//@keyframes text-anim {
//  50%{
//    transform: translateX(-500px);
//  }
//  100%{
//    transform: translateX(-200px);
//  }
//}
//
//@keyframes text-anim-reverse {
//  50%{
//    transform: translateX(-200px);
//  }
//  100%{
//    transform: translateX(-500px);
//  }
//}
